<!DOCTYPE html>
{% load static %}
<html lang="uk">

  <head>
    <meta charset="UTF-8"/>
      <title>My Blog</title>
    <meta name="description"
          value="BLOG" />
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script  type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <!-- Include Styles -->
    <!--<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>

<body>
    {% include 'blog/header_navbar.html' %}
    {% include 'blog/search.html' %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {%if message %}
                    <h2>{{message}}</h2>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

    <link rel="js" href="{% static 'js/bootstrap.min.js' %}">

</html>