{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
  <div class="container">
    <div class="form-group text-center">
      <h1>Login</h1>
      <form method="post" action="{% url 'blog:login' %}" >
        {% csrf_token %}
        {{ form.as_p }}
        <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p>
        <input type="submit" value="login" class="btn-success"><br>
      </form>
      <p><strong>-- OR --</strong></p>
        <button class="btn-success"><a style="color: #fcf8e3" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></button>
        <div class="help-block">
        <p>Forgot your password? <a href="{% url 'blog:post_list' %}">Click here to reset it</a>.</p>
    </div>
    </div>
  </div>
{% endblock %}