{% extends 'blog/base.html' %}

{% block content %}
<div class="content container">
    {% if massage %}
    <div class="text-warning">{{ massage }}</div>
    {% endif %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <form id="del" action="{% url 'blog:post_dell' pk=post.pk%}" method="get">
                {% csrf_token %}
            </form>
            <form id="update" action="{% url 'blog:post_update' pk=post.pk%}" method="get">
                {% csrf_token %}
            </form>
            <button form="update" type="submit" for><span class="glyphicon glyphicon-pencil"></span></button>
            <button form="del" type="submit"><span class="glyphicon glyphicon-trash"></span></button>

        {% endif %}
        <h1>{{ post.title }}
            <br><span class="h3" >
                {{ post.topic }}
            </span>
        </h1>
        {% if post.post_img %}
            <img src="{{ post.post_img.url }}"><br>
        {% endif %}
            <div class="text-truncate">
                {{ post.text|linebreaksbr }}
            </div>
        {% if post.link %}
            <a class href="{{post.link}}" target="_blank">{{post.link}}</a></div>
        {% endif %}
        {% for coment in coments %}
            <div class="coment">
                <h4>{{ coment.author }} : <i>{{ coment.data }}</i></h4>
                <p class="coment-text">{{ coment.coment_text }}</p>
             </div>
        {% endfor %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'blog:add_coment' pk=post.pk %}" id="add">
            {% csrf_token %}
            <br><button type="submit" >Add coment</button>
        </form>
        <textarea name="coment_text" rows="4" cols="80" form="add"></textarea><br>
    {% endif %}
    </div><br><br><br><br>
{% endblock %}