{% extends 'blog/base.html' %}

    {% block content %}

    <div class="content container">
    {% if user.is_authenticated %}
        <div class="text-right">
            <a href="{% url 'blog:post_new' %}"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>
    {% endif %}
        <div class="row">
            <div class="col-md-8">
                {% for post in post_list %}
                    <div class="post">
                        <div class="date">
                            <p>published: {{ post.published_date }}</p>
                        </div>
                        <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a><br>
                        <span class="label1" >
                            {{ post.topic }}
                        </span></h1>
                        {% if post.post_img %}
                            <img src="{{ post.post_img.url }}"><br>
                        {% endif %}
                        <p>{{ post.text|linebreaksbr }}
                            <br>
                    </div>
                {% endfor %}
                {% if is_paginated %}
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">
                          <a class="page-link" href="{{context.get_absolute_url}}{% if prev_page %}?page={{prev_page}} {% endif %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                            {% for page in pages %}
                                <li class="page-item"><a class="page-link" href="{{context.get_absolute_url}}?page={{page}}">{{ page }}</a></li>
                            {% endfor %}
                        <li class="page-item">
                          <a class="page-link" href="{{context.get_absolute_url}}?page={% if next_page %}{{ next_page }}{%else  %}{{pages | last}}{% endif %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
