{% extends 'blog/base.html' %}

    {% block content %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for post in post_list %}
                    <div class="post">
                        <div class="date">
                            <p>published: {{ post.published_date }}</p>
                        </div>
                        <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a><br>
                        <span class="label1" >
                            {{ post.topic }}
                        </span></h1>
                        {% if post.post_img %}
                            <img src="{{ post.post_img.url }}"><br>
                        {% endif %}
                        <p>{{ post.text|linebreaksbr }}
                            <br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
