{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="text-center">
        <h2 class="register-title">Welcome to my blog</h2>
        <form class="" action="{% url 'blog:signup' %}" method="post">
          {% csrf_token %}
            <p>Enter your name: {{ form.username }}</p>
          <span style="color: #fcf8e3">{{ form.username.errors }}</span>
          <p>Enter your email: {{ form.email }} </p>
          <span style="color: #fcf8e3">{{ form.email.errors }}</span>
          <p>Enter your password: {{ form.password }}</p>
          <span style="color: #fcf8e3">{{ form.password.errors }}</span>
          <input type="submit" value="register" class="btn"><br>
        </form>
    </div>
{% endblock %}